<div class="position-absolute top-50 start-50 translate-middle">
  <div class="custom-width-index border rounded shadow p-4 text-center">
    <h2>ยินดีต้อนรับ</h2>
    <h4>เข้าสู่เว็บไซต์จองบูธงานเกษตรแฟร์</h4>
    <hr style="border: 2px solid rgb(255, 255, 255); width: 325px;">
    <h5>มหาวิทยาลัยเกษตรศาสตร์ <br> วิทยาเขตเฉลิมพระเกียรติจังหวัดสกลนคร</h5>
    <br>
    <div class="border rounded shadow p-4" style="background-color: white; color: #000;">
      <p class="mb-1">ดูรายละเอียดบูธ <i class="fa-solid fa-chevron-down"></i></p>
      <button class="btn btn-primary w-50 mb-3" (click)="goToSelectZone()">ดูบูธ</button>
      <hr style="border: 0;">
      <p class="mb-1">เลือกจองบูธ <i class="fa-solid fa-chevron-down"></i></p>
      <button class="btn btn-primary w-50" (click)="goToLogin()">เข้าสู่ระบบ/สมัครสมาชิก</button>
    </div>
  </div>
</div>
